a {
    cursor: pointer;
}

.ship .panel-body img {
    max-width: 100%;
    object-fit: cover;
}

.input-group .input-group-addon {
    min-width: 120px;
}
.container {
    width: 100%; 
}

.panel:hover {
    -webkit-box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 750px !important
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .panel-heading {
        min-height: 72px;
        height: 58px;
    }
}

/* @media (min-width: 992px){
    .container {
        width: 750px; 
    }
} */

/* SIDEBAR */
.sidebarCollapseout {

}

.sidebarCollapsein {

}

.menu  {
    margin: 10px;
    padding: 5px;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 10px 10px 10px rgba(0,0,0,.05)
}
#sidebar {
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    display: block;
}

.list-group li {
    margin-bottom: 15px;
}
#sidebar.active {
    display: none;
}

#sidebar .btn-loggout {

}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* END SIDEBAR */