a {
    cursor: pointer;
}

.ship .panel-body img {
    max-width: 100%;
    object-fit: cover;
}

.input-group .input-group-addon {
    min-width: 120px;
}
.container {
    width: 100%; 
}

.panel:hover {
    -webkit-box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 25px -15px rgba(0,0,0,0.75);
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 750px !important
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .panel-heading {
        min-height: 72px;
        height: 58px;
    }
}

/* @media (min-width: 992px){
    .container {
        width: 750px; 
    }
} */

/* SIDEBAR */
.sidebarCollapseout {
    position: absolute;
    left: 0;
}

.sidebarCollapsein {
    position: absolute;
    left: 400px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
/* END SIDEBAR */