<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" class="active">
    <div class="sidebar-header">
      <h3>Ships Manager</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Star Ships Menú</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inicio</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Ships</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">LoggOut</a>
      </li>
    </ul>
  </nav>
  <button type="button" id="sidebarCollapse" class="btn btn-info sidebarCollapseout">
    <i class="fas fa-align-left"></i>
    <span>Menú</span>
  </button>
</div>